body {

    height: 100vh;
}

#blason {

    max-width: none;
    max-height: none;
}

/* BARRE HEADER */

header{
    height:110px;
    background-color: #262626;
    display:flex;
    align-items: center;
    padding-left:30px;
}

header h1{
    text-align: center;
    color:white;
    margin: auto ;
    width: 100%;
}

 /* BARRE NAV */
nav{
    position: fixed;
    width: 110px;
    height: 100%;
    background-color: #262626;
    color: white;
    
}

ul {

    list-style: none;
    padding: 0 10px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10,1fr);
    align-items: center;
    height: 100%;
    font-weight: bold;

}

/* BARRE FOOTER */

footer {

    position: fixed;
    bottom: 0;
    background-color: #262626;
    width: 100%;
    text-align: center;
    color: white;
    font-weight: bold;

}

/* MAIN */

main {

    margin-left: 150px;
    margin-right: 150px;
    max-width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    align-items: center;
    text-align: center;

}

main>aside:nth-of-type(1) >img {

    max-width: 150px;
    max-height: 150px;

}

main>aside:nth-of-type(2) >img {

    max-width: 550px;
    max-height: 550px;

}

main>aside:nth-of-type(1) {

   grid-row: 2;
   grid-column: 1;

}

main>aside:nth-of-type(2) {

    grid-row: 3;
    grid-column: 1;
 
 }

article:nth-of-type(1) {

    grid-column: 2;
    grid-row: 1 / span 2;
}

/* PAGE CONTACT */

form{
    margin-left: 150px;
}

#titre_contact{
    margin-left: 150px;
}

a{
    text-decoration: none;
    color: white;
}

a:nth-of-type(1):hover {

    color: rgb(81, 172, 6) ;
}

li:nth-of-type(2) a:hover {

    color: orange ;
}

li:nth-of-type(3) a:hover {

    color: rgb(65, 181, 216);
}

li:nth-of-type(4) a:hover {

    color: rgb(236, 236, 45);
}

li:nth-of-type(5) a:hover {

    color: rgb(81, 172, 6);
}

